.degree-work {
    width: 100%;
    color: var(--quinary);
    padding: 10em 0;
}

.degree-work .inner-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5vw;
    width: 80%;
    margin: 0 auto;
    max-width: 1800px;
}

.in-progress-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin: 0 auto;
}




.completed-courses-module {
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.courses-bar {
    width: 68.3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    margin: .7% .5% 0 0;
}

.courses-bar__right {
    min-width: 200px;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.courses-bar__right > input {

    width: 70%;
    padding: .5em 1em;
    margin: 0 1em;
    color: var(--quinary);
    background-color: transparent;
    border: var(--quinary) solid .15em;
    border-radius: 2em;
    outline: none;
    font-size: 1rem;
}

.courses-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-column-gap: 5%;
    grid-row-gap: 3%;
    flex: 70;
}

.degree-info-container {
    flex: 30;
    display: flex;
    flex-direction: column;
    font-size: 1.4vw;
    gap: .5em;
}

.degree-info-container .degree-item {
    background-color: var(--secondary);
    border-radius: .25em;
    padding: .3em 1em;

    display: flex;
    justify-content: flex-start;
    gap: 10%;
}

.clemson-icon {
    width: 1em;
    height: 1em;
    align-self: center;
}

@media (max-width: 1075px) {
    .courses-bar {
        width: 100%;
        font-size: .8em;
    }
    .completed-courses-module {
        flex-direction: column;
        justify-content: center;
    }
    .degree-info-container {
        font-size: 2em;
        width: 50%;
        margin: 2em 0;
    }
}

@media (max-width: 870px) {
    .courses-bar {
        font-size: .65em;
    }
    .degree-info-container {
        width: 100%;
    }
}