.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 4rem;
}

.buddha-icon{
    width: 3rem;
}

.header__right{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header__right > a > i{
    font-size: 2rem;
    color: var(--quinary);
}

@media (max-width: 1000px){
    .header{
        padding: .5rem 2rem;
    }
}