.home {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .content-container {
    padding: 12em 6em;
    z-index: 1;
}

.home .text-block{
    gap: 10px;
}

.home h1 > span {
    color: var(--quaternary);
}

.home h2 > span:nth-of-type(1) {
    color: var(--secondary)
}

.home h2 > span:nth-of-type(2) {
    color: var(--tertiary)
}

.showcase-btn {
    color: var(--quinary);
    background-color: transparent;
    border: var(--quinary) solid .125em;
    border-radius: 30px;
    font-size: var(--h4);
    padding: .5em 1em;
    width: 65%;
    position: relative;
    outline: none;

    margin: .5em 0;

    --duration: 200ms;
    cursor: pointer;
    transition: all var(--duration);
}

.showcase-btn:hover {

    text-shadow: 0 0 0.125em currentColor;
    box-shadow:
            inset 0 0 0.5em 0 var(--quinary),
            0 0 0.5em 0 var(--quinary);

}

.showcase-btn:before {
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: var(--quinary);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform:
            perspective(1em)
            rotateX(40deg)
            scale(1, 0.35);
    filter: blur(1em);

    opacity: 0;
    transition: opacity var(--duration);
}

.showcase-btn:hover:before
{
    opacity: .7;
}

.showcase-btn:active {
    background-color: var(--quinary);
    color: var(--primary);
    text-shadow: none;
}

.showcase-btn:active:after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 30px;
    box-shadow: 0 0 2em 0.5em var(--quinary);

    opacity: 0;
    transition: opacity var(--duration) linear;
}

.showcase-btn:active:hover:after {
    opacity: 1;
}

.showcase-btn:active:before {
    opacity: 1;
}

@media (max-width: 1000px) {
    .home {
        aspect-ratio: 9 / 16;
    }

}