.in-progress-item {
    position: relative;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    font-size: 80%;
}

.in-progress-item .text-block {
    flex: 40;
    gap: 2em;
}

.in-progress-item .text-block h3:nth-child(1) {
    color: var(--secondary);
}

.in-progress-item .text-block h2:nth-child(2) {
    color: var(--tertiary);
}

.in-progress-item p {
    font-size: var(--h5);
    padding-left: .3%;
}

.in-progress-item .img-container {
    flex: 50;
}

.in-progress-item .img-container > img {
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: cover;
    border-radius: 2em;
    pointer-events: none;
}

.dots-container {
    position: absolute;
    bottom: 2em;
    left: 1em;
    display: flex;
    gap: .5em;
}

.dot {
    position: relative;
    aspect-ratio: 1;
    width: .75em;
    border-radius: 50%;
    background-color: var(--secondary);
}

@media (max-width: 2300px) {
    .in-progress-item {
        font-size: 65%;
    }
}

@media (max-width: 1180px) {
    .in-progress-item .text-block {
        z-index: 1;
        position: absolute;
        padding: 0 4%;
        width: 50%;
    }

    .in-progress-item .img-container {
        filter: brightness(50%);
    }
}

@media (max-width: 720px) {
    .in-progress-item {
        font-size: 55%;
    }

    .dots-container {
        bottom: initial;
        left: initial;
        top: 2em;
        right: 1em;
    }
}

@media (max-width: 615px) {
    .in-progress-item .text-block {
        width: 90%;
    }
}