.tech-stack {
    width: 100%;
    color: var(--quinary);
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.tech-stack > * {
    padding: 0 10%;
}

.languages-container {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 35vw;
    margin: 0 auto;
}

@media (max-width: 1400px) {
    .languages-container {
        width: 80%;
        grid-auto-rows: 50vw;
    }
}