.tool-container {
    box-sizing: border-box;
    aspect-ratio: 7 / 9;
    height: 100%;
    background-color: #C9ADA7;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

.tool-container > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1em;
    pointer-events: none;
}
