.App {
    width: 100%;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}

.text-block {
    color: var(--quinary);

    display: flex;
    flex-direction: column;
}

.divider {
    margin: 8em 0;
    border: solid .125em var(--secondary);
}